name: ci
on:
  - push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: norio-nomura/action-swiftlint@3.2.1
  macos-test:
    strategy:
      matrix:
        swift-version:
          - "6.2"
          - "6.1"
          - "6.0"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: swift-actions/setup-swift@v3
        with:
          swift-version: ${{ matrix.swift-version }}
      - run: swift test
  linux-test:
    strategy:
      matrix:
        swift-version:
          - "6.2"
          - "6.1"
          - "6.0"
          - "5.9"
          - "5.8"
          - "5.7"
          - "5.6"
          - "5.5"
          - "5.4"
          - "5.3"
          - "5.2"
          - "5.1"
          - "5.0"
    runs-on: ubuntu-latest
    container:
      image: swift:${{ matrix.swift-version }}
    steps:
      - uses: actions/checkout@v4
      - run: swift test
  ios-build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: xcodebuild -scheme geodesic -destination 'platform=iOS Simulator,name=iPhone 13'
